body {
	background-color: blanchedAlmond;
	font-family: 'VT323', monospace;
	text-transform: uppercase;
}

button {
	background-image: url(/Users/john/salty-sardines/09-25-inputs-tomagotchi/tomagatchi_project/css/game_images/menu1_2_copy.png);
	background-color: lavender;
	border: none;
	text-decoration: none;
	font-family: 'VT323', monospace;
	font-size: 15px;
	width: 128px;
	height: 32px;
}

.game {
	background-color: lavender;
	border: 1px solid purple;

}

.top {
	display: flex;
	justify-content: space-between;
	margin: 10px;
}


.display {

}

.display1 {
	display: flex;
	background-image: url(/Users/john/salty-sardines/09-25-inputs-tomagotchi/tomagatchi_project/css/game_images/nighttime.gif);
	justify-content: flex-start;
	align-items: flex-end;
	flex-direction: column;
	height: 130px;
	width: 289;
	margin: 0 10px 0 10px;
}

.display2 {
	display: flex;
	background-image: url(/Users/john/salty-sardines/09-25-inputs-tomagotchi/tomagatchi_project/css/game_images/menu2_copy.png);
	justify-content: center;
	align-items: stretch;
	align-content: flex-end;
	flex-direction: column;
	height: 96px;
	width: 289;
	margin: 0 10px 0 10px;
}

.bottom {
	display: flex;
	justify-content: space-around;
	margin: 10px;
}

#nameAge {
	display: flex;
	margin: 5px;
	justify-content: center;
	align-items: center;
	background-image: url(/Users/john/salty-sardines/09-25-inputs-tomagotchi/tomagatchi_project/css/game_images/menu1_2_copy.png);
	width: 128px;
	height: 36px;
}

#hungry, #sleepy, #bored {
	margin: 0px 5px 5px 15px;
}

#image {
	border-width: 1px dotted white;
	height: 100px;
	width: 100px;
}

@media (min-width: 375px) {
	.game {
		max-width: 300px;
	}
}
